<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <title>{% block title %}IT PIZZA{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          {% if user.is_authenticated %}
          <a class="nav-item nav-link" id="home" href="/">Ponuka</a>
          <a class="nav-item nav-link" id="rezervacia" href="/rezervacia">Rezervacia</a>
          <a class="nav-item nav-link" id="kosik" href="/kosik">Košík</a>
          <a class="nav-item nav-link" id="logout" href="/logout">Odhlásiť sa</a>
          {% else %}
          <a class="nav-item nav-link" id="login" href="/login">Prihlásiť sa</a>
          <a class="nav-item nav-link" id="signUp" href="/sign-up">Zaregistrovať sa</a>
          {% endif %}
        </div>
      </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <div class="container">{% block content %} {% endblock %}</div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <footer id="kontakt">
      <h2>Kontakt:</h2>
        <div class="adresa">
        <h3>Bratislava</h3>
        <address>Mlynská dolina, 842 48 Bratislava<br> tel. +421 999 123 456<br> email: ba@itpizza.sk </address>
        </div>
        <div class="adresa">
        <h3>Banská Bystrica</h3>
        <address>Tajovského 40, 974 01 Banská Bystrica<br> tel. +421 999 123 457<br> email: bb@itpizza.sk </address>
        </div>
        <div id="social">
        <p>Sledujte nás na</p>
        <a href="https://www.facebook.com/" title="Facebook" target="_blank"><img src="https://www.facebook.com/images/fb_icon_325x325.png" width="40" height="40" alt="ico-facebook"></a>
        <a href="https://twitter.com/" title="Twitter" target="_blank"><img src="https://cdn.pixabay.com/photo/2016/05/01/23/20/twitter-bird-1366218_640.png" width="40" height="40" alt="ico-twitter"></a>
        <a href="https://instagram.com/" title="Instagram" target="_blank"><img src="https://cdn.pixabay.com/photo/2017/05/21/23/59/instagram-2332711_960_720.png" width="40" height="80" alt="ico-instagram"></a>
        </div>
    </footer>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>
  </body>
</html>
